<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Smart</title>
</head>
<body>
  <form>
    <div class="container mx-auto">
      <!-- Flex Container -->
      <div class="flex-col">
        <!-- Input for Device Name -->
        <input type="text" id="deviceName" placeholder="Device Name">

        <!-- Input for users phone number -->
        <input type="text" id="phone" placeholder="Phone Number">

        <!-- Input for user to enter High PH level -->
        <input type="text" id="highPH" placeholder="High PH Level">

        <!-- Input for user to enter Low PH level -->
        <input type="text" id="lowPH" placeholder="Low PH Level">

        <!-- Input for user to enter High Temperature level -->
        <input type="text" id="highTemp" placeholder="High Temperature Level">

        <!-- Input for user to enter Low Temperature level -->
        <input type="text" id="lowTemp" placeholder="Low Temperature Level">

        <!-- Input for High moisture percentage -->
        <input type="text" id="highMoisture" placeholder="High Moisture Level">

        <!-- Input for Low moisture percentage -->
        <input type="text" id="lowMoisture" placeholder="Low Moisture Level">

        <!-- Button to send information to server -->
        <button type="submit" id="submit">Submit</button>
      </div>

    </div>
    
  </form>
</body>
</html>